<h1>WELLCOME TO THE AMAZING LIFE OF BRENDAN EICH</h1>
<br>
<a class="btn btn-primary" href="/about" role="button">LEARN ABOUT HIS AMAZING LIFE</a>
<a class="btn btn-primary" href="/works" role="button">MARVEL YOURSELF AT HIS AMAZING WORK</a>
<a class="btn btn-primary" href="/photos" role="button">BASK IN THE LIGHT OF GLOURIOUS IMAGE</a>